main {
  padding-top: 20vh;
}

.container-about-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5rem;
  padding: 2rem;
}

.me-code-img {
  border-radius: 50%;
}
