main {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
}

.about-intro-wrapper {
  width: 80vw;
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 5vh;
}
.me-img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.me-code-img {
  border-radius: 50%;
  transition: all 0.33s ease;
  translate: 3rem 0;
}
.me-code-img:hover {
  scale: 1.1;
}
h1 {
  font-size: 5rem;
  color: var(--light-sky-blue);
}
p {
  font-size: 2.2rem;
}

/* RESPONSIVE */

@media all and (max-width: 1100px) {
  .about-intro-wrapper {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }
  .me-code-img {
    width: 80%;
  }
  p {
    padding-top: 3rem;
    font-size: 2.4rem;
  }
}
@media all and (max-width: 871px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 2.2rem;
  }
}
@media all and (max-width: 690px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
}
