@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 62.5%;

  /* COLORS */
  --primary-color: rgb(249, 251, 252);
  --secundary-color: rgb(15, 23, 42);
  --light-sky-blue: rgb(33, 150, 243);
  --dark-sky-blue: rgb(63, 81, 181);
}

body {
  width: 100%;
  height: 100vh;
  color: white;
  background-image: url(../images/background.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

/*--------- FONTS ---------*/

h1 {
  text-align: center;
  color: var(--primary-color);
  font-size: 4rem;
  padding: 5rem;
  padding-top: 15vh;
  padding-bottom: 0;
}
h2 {
  text-align: center;
  color: var(--light-sky-blue);
  font-size: 3rem;
  padding: 0 5rem;
}

/* --------- HEADER --------- */

header {
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;

  padding: 4rem 2rem;
  font-size: 2.2rem;
  z-index: 90;
}
.logo {
  z-index: 10;
}
.navigation {
  display: none;
}
.navigation ul {
  display: flex;
  gap: 5rem;
}
.navigation a {
  position: relative;
  color: var(--light-sky-blue);
}
.navigation a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.33s ease-in-out;
}
.navigation a:hover::before {
  width: 100%;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.burgermenu,
.closemenu {
  font-size: 5rem;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: fixed;
  top: 10vh;
  right: -100%;
  width: 100%;
  height: 90vh;
  padding: 7rem 2rem;
  background-color: transparent;
  z-index: 2;
  overflow-y: auto;
  transition: right 0.33s ease-in-out;
}
.dropdown-menu.active {
  right: 0;
}
.dropdown-menu a {
  font-size: 2.4rem;
  text-align: center;
  width: 50vw;
  background-color: var(--light-sky-blue);
  color: var(--light-slate);
  padding: 3rem 0;
  border-radius: 2rem;
  transition: all 0.33s ease;
}
.dropdown-menu a:hover {
  background-color: var(--dark-sky-blue);
  scale: 1.1;
}

/*--------- MAIN ---------*/

main {
  padding-top: 5vh;
}

/*--------- RESPONSIVE ---------*/

@media (min-width: 640px) {
  header {
    justify-content: end;
  }
  .navigation {
    display: block;
  }
  .dropdown-btn {
    display: none;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 10rem;
    text-align: start;
  }
  h2 {
    font-size: 6rem;
    text-align: start;
  }
}
